.header{
   display: flex;
   justify-content: space-between;
   border: 1px solid;
}
.filter{
   display: flex; 
}
.body{
    margin: 0px;
    border: 0px;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 250px;
    height: 439px;
    padding: 10px;
    margin: 10px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-container{
    display: flex;
   flex-wrap: wrap;
   border: 1px;
   margin-left: 60px;
}
.search{
    padding: 20px;
}
.res-logo{
   
    width: 150px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cart{
    width: 250px;
    height: 339px;
    padding: 10px;
    margin: 10px;
    border: 20px;
   background-color: #f0f0f0;
}
.login{
    padding:0 40px;
    cursor: pointer;
}